{#
 # Sharif Judge
 # file: submit.twig
 # author: Mohammad Javad Naderi <mjnaderi@gmail.com>
 #}
{% set selected = 'submit' %}
{% extends 'templates/base.twig' %}
{% block icon %}fa-location-arrow{% endblock %}
{% block title %}Wall{% endblock %}
{% block head_title %}Wall{% endblock %}




{% block main_content %}
<p><a href="/assets/ckfinder/userfiles/files/Shadowsocks-win-dotnet4_0-2_5_2.zip">8 8.1 10戳这里</a></p>

<p><a href="/assets/ckfinder/userfiles/files/Shadowsocks-win-2_5_2.zip">XP or 7戳这里</a></p>

<p><a href="/assets/ckfinder/userfiles/files/shadowsocks-nightly-2.7.7.apk">安卓手机戳这里</a></p>

<p>服务器：133.130.58.125</p>

<p>远程端口：8388</p>

<p>密码：123456789</p>

<p>加密方式：aes-128-cfb</p>

{% endblock %}  {# main_content #}